body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    background: #fff;
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

h1, h2 {
    color: #333;
}

ul {
    line-height: 1.6;
}
